*.o
*.mod
*~
*.a

*.bak
*.aux
*.dvi
*.pdf
*.toc
*.log
*.bbl
*.blg
*.fls
*.out
00_version.tex

scale-gm/test/data/grid/boundary/gl05rl01*
scale-gm/test/data/grid/boundary/gl06*
scale-gm/test/data/grid/llmap/gl05/rl01*
scale-gm/test/data/grid/llmap/gl06*
