################################################################################
#
# SCALE-GM mkmnginfo config
#
################################################################################

&mkmnginfo_cnf
    rlevel       = 0,
    prc_num      = 1,
    output_fname = "rl00-prc01.info",
/

################################################################################
