################################################################################
#
# SCALE-GM mkrawgrid config
#
################################################################################

&ADMPARAM
    glevel      = 6,
    rlevel      = 1,
    vlayer      = 1,
    rgnmngfname = "rl01-prc40.info",
/

&PARAM_MKGRD
    MKGRD_DOSPRING     = .true.,
    MKGRD_OUT_BASENAME = "rawgrid_GL06RL01",
    MKGRD_spring_beta  = 1.15D0,
/

################################################################################
