################################################################################
#
# SCALE-GM driver config
#
################################################################################

&ADMPARAM
    glevel      = 7,
    rlevel      = 0,
    vlayer      = 120,
    rgnmngfname = "rl00-prc10.info",
/

&GRDPARAM
    hgrid_io_mode = "ADVANCED",
    hgrid_fname   = "boundary_GL07RL00",
    VGRID_fname   = "vgrid120_100m_dcmip.dat",
    topo_fname    = "NONE",
/

&TIMEPARAM
    DTL         = 300.D0,
    INTEG_TYPE  = "TRCADV",
    LSTEP_MAX   = 288,
    start_date  = 0000,1,1,0,0,0
/

&RUNCONFPARAM
    RUNNAME     = 'DCMIP2012-12',
    THUBURN_LIM = .true.
    CHEM_TYPE   = 'PASSIVE',
/

&CHEMVARPARAM
    CHEM_TRC_vmax = 4,
/

&BSSTATEPARAM
    ref_type = 'NOBASE',
/

&RESTARTPARAM
    input_io_mode     = 'IDEAL',
    output_io_mode    = 'ADVANCED',
    output_basename   = 'restart_all_GL07RL00z120',
    restart_layername = 'ZS120_100m_DCMIP',
/

##### DCMIP 2012 Test 1-2: 3D Hadley-like meridional circulation
&DYCORETESTPARAM
    init_type = 'Traceradvection',
    test_case = '1-2'
/

&PARAM_CONST
    CONST_RADIUS        = 6.37122D+6,
    CONST_OHM           =   7.292D-5,
    CONST_SmallPlanetFactor =      1.D0,
    CONST_GRAV          = 9.80616D0,
    CONST_Rdry          =   287.0D0,
    CONST_CPdry         =  1004.5D0,
/

&NUMFILTERPARAM
    hdiff_type        = 'DIRECT',
    lap_order_hdiff   = 2,
    gamma_h           = 2.00D14,
    Kh_coef_minlim    = 0.D0,
    Kh_coef_maxlim    = 9.9D99,
    divdamp_type      = 'DIRECT',
    lap_order_divdamp = 2,
    alpha_d           = 2.00D14,
/

&EMBUDGETPARAM
    MNT_ON   = .true.,
    MNT_INTV = 12    ,
/

&NMHISD
    output_io_mode   = 'ADVANCED' ,
    histall_fname    = 'history'  ,
    hist3D_layername = 'Z120_100m_DCMIP',
    NO_VINTRPL       = .false.    ,
    output_type      = 'SNAPSHOT' ,
    step             = 12         ,
    doout_step0      = .true.     ,
/

&NMHIST item='ml_u',          file='u',     ktype='3D' /
&NMHIST item='ml_v',          file='v',     ktype='3D' /
&NMHIST item='ml_w',          file='w',     ktype='3D' /
&NMHIST item='ml_passive001', file='pasv1', ktype='3D' /

################################################################################
