################################################################################
#
# SCALE-GM mkrawgrid config
#
################################################################################

&ADMPARAM
    glevel      = 5,
    rlevel      = 3,
    vlayer      = 1,
    rgnmngfname = "rl03-prc10.info",
/

&PARAM_MKGRD
    MKGRD_DOSPRING     = .true.,
    MKGRD_OUT_BASENAME = "rawgrid_GL05RL03",
    MKGRD_spring_beta  = 1.15D0,
/

################################################################################
