################################################################################
#
# SCALE-GM driver config
#
################################################################################

&PARAM_PRC_ICOA
 PRC_RGN_level = 0,
/

&ADMPARAM
    glevel      = 4,
    vlayer      = 1,
/

&GRDPARAM
    hgrid_io_mode = "ADVANCED",
    hgrid_fname   = "boundary_GL04RL00",
    VGRID_fname   = "NONE",
    topo_fname    = "NONE",
/

&LATLONPARAM
    latlon_type = "EQUIDIST",
    imax        = 90,
    jmax        = 45,
/

################################################################################
