################################################################################
#
# SCALE-GM mkmnginfo config
#
################################################################################

&mkmnginfo_cnf
    rlevel       = 0,
    prc_num      = 2,
    output_fname = "rl00-prc02.info",
/

################################################################################
