#! /bin/bash -x
#
# ------ FOR MacOSX & gfortran4.6 & OpenMPI1.6 -----
#

MPIEXEC="openmpirun -np #tproc#"
BINDIR="../../bin"

# run
${MPIEXEC} ${BINDIR}/scale3_init_#SUFFIX# ./init.conf
${MPIEXEC} ${BINDIR}/scale3_#SUFFIX#      ./run.conf
