################################################################################
#
# SCALE-GM mkrawgrid config
#
################################################################################

&ADMPARAM
    glevel      = 4,
    rlevel      = 0,
    vlayer      = 1,
    rgnmngfname = "rl00-prc02.info",
/

&PARAM_MKGRD
    MKGRD_DOSPRING     = .true.,
    MKGRD_OUT_BASENAME = "rawgrid_GL04RL00",
    MKGRD_spring_beta  = 1.15D0,
/

################################################################################
