################################################################################
#
# SCALE-GM communication kernel test config
#
################################################################################

&PARAM_IO
 IO_LOG_ALLNODE  = .true.,
/

&ADMPARAM
    glevel      = 5,
    rlevel      = 3,
    vlayer      = 94,
    rgnmngfname = "rl03-prc10.info",
/

################################################################################
