################################################################################
#
# SCALE-GM mkmnginfo config
#
################################################################################

&mkmnginfo_cnf
    rlevel       = 1,
    prc_num      = 8,
    output_fname = "rl01-prc08.info",
/

################################################################################
