################################################################################
#
# SCALE-GM mkmnginfo config
#
################################################################################

&mkmnginfo_cnf
    rlevel       = 0,
    prc_num      = 10,
    output_fname = "rl00-prc10.info",
/

################################################################################
