################################################################################
#
# SCALE-GM driver config
#
################################################################################

&ADMPARAM
    glevel      = 6,
    rlevel      = 1,
    vlayer      = 30,
    rgnmngfname = "rl01-prc40.info",
/

&GRDPARAM
    hgrid_io_mode = "ADVANCED",
    hgrid_fname   = "boundary_GL06RL01",
    VGRID_fname   = "vgrid30_stretch_30km_dcmip2016v2.dat",
    vgrid_scheme  = "LINEAR",
    topo_fname    = "NONE",
/

&TIMEPARAM
    DTL         = 300.D0,
    INTEG_TYPE  = "RK3",
    LSTEP_MAX   = 4320,
    start_date  = 0000,1,1,0,0,0
/

&RUNCONFPARAM
    RUNNAME        = 'DCMIP2016-11',
    NDIFF_LOCATION = 'IN_LARGE_STEP2',
    THUBURN_LIM    = .true.,
    RAIN_TYPE      = "WARM",
    CHEM_TYPE      = 'PASSIVE',
    AF_TYPE        = 'DCMIP',
/

&CHEMVARPARAM
    CHEM_TRC_vmax = 2,
/

&BSSTATEPARAM
    ref_type = 'NOBASE',
/

&RESTARTPARAM
    input_io_mode     = 'IDEAL',
    output_io_mode    = 'ADVANCED',
    output_basename   = 'restart_all_GL06RL01z30',
    restart_layername = 'ZSALL32_DMP16v2',
/

##### DCMIP2016-11: Moist Baroclinic Wave
##case 1: perturbation: exponential / with moisture
##case 2: perturbation: stream function / with moisture
##case 3: perturbation: exponential / without moisture
##case 4: perturbation: stream function / without moisture
##case 5: no perturbation / with moisture
##case 6: no perturbation / without moisture
&DYCORETESTPARAM
    init_type   = 'Jablonowski-Moist',
    test_case   = '1',
    chemtracer  = .true.,
    prs_rebuild = .false.,
/

&FORCING_PARAM
    NEGATIVE_FIXER   = .true.,
    UPDATE_TOT_DENS  = .true.,
/

&FORCING_DCMIP_PARAM
    SET_DCMIP2016_11 = .true.,
/

&PARAM_CONST
    CONST_RADIUS        = 6.37122E+6,
    CONST_OHM           =   7.292E-5,
    CONST_SmallPlanetFactor =      1.E0,
    CONST_GRAV          = 9.80616E0,
    CONST_Rdry          =   287.0E0,
    CONST_CPdry         =  1004.5E0,
/

&NUMFILTERPARAM
    lap_order_hdiff   = 2,
    hdiff_type        = 'NONLINEAR1',
    Kh_coef_maxlim    = 1.500E+16,
    Kh_coef_minlim    = 1.500E+15,
    ZD_hdiff_nl       = 20000.E0,
    divdamp_type      = 'DIRECT',
    lap_order_divdamp = 2,
    alpha_d           = 1.50D15,
/

&EMBUDGETPARAM
    MNT_ON   = .true.,
    MNT_INTV = 72    ,
/

&NMHISD
    output_io_mode   = 'ADVANCED' ,
    histall_fname    = 'history'  ,
    hist3D_layername = 'ZSDEF30_DMP16v2',
    NO_VINTRPL       = .false.    ,
    output_type      = 'SNAPSHOT' ,
    step             = 288        ,
    doout_step0      = .true.     ,
/

&NMHIST item='ml_u',     file='u',    ktype='3D' /
&NMHIST item='ml_v',     file='v',    ktype='3D' /
&NMHIST item='ml_w',     file='w',    ktype='3D' /
&NMHIST item='ml_pres',  file='prs',  ktype='3D' /
&NMHIST item='ml_tem',   file='t',    ktype='3D' /
&NMHIST item='sl_ps',    file='ps',   ktype='2D' /
&NMHIST item='sl_u850',  file='u850', ktype='2D' /
&NMHIST item='sl_v850',  file='v850', ktype='2D' /
&NMHIST item='sl_w850',  file='w850', ktype='2D' /
&NMHIST item='sl_t850',  file='t850', ktype='2D' /
&NMHIST item='sl_w500',  file='w500', ktype='2D' /
&NMHIST item='sl_t500',  file='t500', ktype='2D' /

&NMHIST item='ml_af_fvx',  file='forcing_vx',  ktype='3D' /
&NMHIST item='ml_af_fvy',  file='forcing_vy',  ktype='3D' /
&NMHIST item='ml_af_fvz',  file='forcing_vz',  ktype='3D' /
&NMHIST item='ml_af_fe',   file='forcing_e',   ktype='3D' /
&NMHIST item='ml_af_fq01', file='forcing_qv',  ktype='3D' /
&NMHIST item='ml_af_fq02', file='forcing_qc',  ktype='3D' /
&NMHIST item='ml_af_fq03', file='forcing_qr',  ktype='3D' /
&NMHIST item='ml_af_fq04', file='forcing_cl',  ktype='3D' /
&NMHIST item='ml_af_fq05', file='forcing_cl2', ktype='3D' /

&NMHIST item='ml_qv',      file='qv',   ktype='3D' /
&NMHIST item='ml_qc',      file='qc',   ktype='3D' /
&NMHIST item='ml_qr',      file='qr',   ktype='3D' /
&NMHIST item='ml_passive001', file='pasv1', ktype='3D' /
&NMHIST item='ml_passive002', file='pasv2', ktype='3D' /

&NMHIST item='sl_af_prcp', file='prcp', ktype='2D', output_type='AVERAGE', step=72 /

&NMHIST item='sl_cl',    file='cl',  ktype='2D' /
&NMHIST item='sl_cl2',   file='cl2', ktype='2D' /
&NMHIST item='sl_cly',   file='cly', ktype='2D' /

################################################################################
