################################################################################
#
# SCALE-GM mkmnginfo config
#
################################################################################

&mkmnginfo_cnf
    rlevel       = 2,
    prc_num      = 160,
    output_fname = "rl02-prc160.info",
/

################################################################################
