################################################################################
#
# NICAM driver config
#
################################################################################

&ADMPARAM
    glevel      = 7,
    rlevel      = 0,
    vlayer      = 40,
    rgnmngfname = "rl00-prc10.info",
/

&GRDPARAM
    hgrid_io_mode = "ADVANCED",
    hgrid_fname   = "boundary_GL07RL00",
    VGRID_fname   = "vgrid40_600m_24km.dat",
    topo_fname    = "NONE",
/

&TIMEPARAM
    DTL         = 360.D0,
    INTEG_TYPE  = "RK3",
    LSTEP_MAX   = 24000,
    start_date  = 0000,1,1,0,0,0
/

&RUNCONFPARAM
    RUNNAME        = 'ICOMEX_HS',
    NDIFF_LOCATION = 'IN_LARGE_STEP2',
    AF_TYPE        = 'HELD-SUAREZ',
/

&BSSTATEPARAM
    ref_type = 'NOBASE',
/

&RESTARTPARAM
    input_io_mode     = 'IDEAL',
    output_io_mode    = 'ADVANCED',
    output_basename   = 'restart_all_GL07RL00z40',
    restart_layername = 'ZSALL42',
/

##### ICOMEX Test case: Held-Suarez test
&DYCORETESTPARAM
    init_type = 'Heldsuarez',
/

&CNSTPARAM
    earth_radius        = 6.37122D+6,
    earth_angvel        =   7.292D-5,
    small_planet_factor =      1.D0,
    earth_gravity       = 9.80616D0,
    gas_cnst            =   287.0D0,
    specific_heat_pre   =  1004.5D0,
/

&NUMFILTERPARAM
    hdiff_type        = 'DIRECT',
    lap_order_hdiff   = 2,
    gamma_h           = 2.00D14,
    Kh_coef_minlim    = 0.D0,
    Kh_coef_maxlim    = 9.9D99,
    divdamp_type      = 'DIRECT',
    lap_order_divdamp = 2,
    alpha_d           = 2.00D14,
/

&EMBUDGETPARAM
    MNT_ON   = .true.,
    MNT_INTV = 2400  ,
/

&NMHISD
    output_io_mode   = 'ADVANCED' ,
    histall_fname    = 'history'  ,
    hist3D_layername = 'ZSDEF40'  ,
    NO_VINTRPL       = .false.    ,
    output_type      = 'SNAPSHOT' ,
    step             = 2400       ,
    doout_step0      = .true.     ,
/

&NMHIST item='ml_u',     file='u',    ktype='3D' /
&NMHIST item='ml_v',     file='v',    ktype='3D' /
&NMHIST item='ml_w',     file='w',    ktype='3D' /
&NMHIST item='ml_pres',  file='prs',  ktype='3D' /
&NMHIST item='ml_tem',   file='t',    ktype='3D' /
&NMHIST item='sl_ps',    file='ps',   ktype='2D' /

################################################################################
