################################################################################
#
# SCALE-GM mkmnginfo config
#
################################################################################

&mkmnginfo_cnf
    rlevel       = 3,
    prc_num      = 10,
    output_fname = "rl03-prc10.info",
/

################################################################################
