################################################################################
#
# SCALE-GM driver config
#
################################################################################

&PARAM_PRC_ICOA
 PRC_RGN_level = 2,
/

&ADMPARAM
    glevel      = 7,
    vlayer      = 1,
/

&GRDPARAM
    hgrid_io_mode = "ADVANCED",
    hgrid_fname   = "boundary_GL07RL02",
    VGRID_fname   = "NONE",
    topo_fname    = "NONE",
/

&LATLONPARAM
    latlon_type = "EQUIDIST",
    imax        = 720,
    jmax        = 360,
/

################################################################################
