################################################################################
#
# SCALE-GM driver config
#
################################################################################

&PARAM_PRC_ICOA
 PRC_RGN_level = 0,
/

&ADMPARAM
    glevel      = 5,
    vlayer      = 1,
/

&GRDPARAM
    hgrid_io_mode = "ADVANCED",
    hgrid_fname   = "boundary_GL05RL00",
    VGRID_fname   = "NONE",
    topo_fname    = "NONE",
/

&LATLONPARAM
    latlon_type = "GAUSSIAN",
    imax        = 128,
    jmax        = 64,
/

################################################################################
