################################################################################
#
# SCALE-GM mkmnginfo config
#
################################################################################

&mkmnginfo_cnf
    rlevel       = 1,
    prc_num      = 40,
    output_fname = "rl01-prc40.info",
/

################################################################################
