################################################################################
#
# SCALE-GM driver config
#
################################################################################

&PARAM_PRC_ICOA
 PRC_RGN_level = 1,
/

&PARAM_ATMOS_GRID_ICOA_INDEX
 GRID_LEVEL = 6,
 KMAX = 1,
/

&GRDPARAM
    hgrid_io_mode = "ADVANCED",
    hgrid_fname   = "boundary_GL06RL01",
    VGRID_fname   = "NONE",
    topo_fname    = "NONE",
    toposd_fname  = "NONE",
/

&LATLONPARAM
    latlon_type = "EQUIDIST",
    imax        = 360,
    jmax        = 180,
/

################################################################################
